@{ ViewData["Title"] = "@*Modelo*@ - Página"; }
@*@model*@
<div class="bloco" style="width: 730px; margin: auto;">
    <div class="row">
		<!--*##HTML##*-->
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
			//*##JS##*
        });
		//*##JS_FUNCTIONS##*
    </script>
}